@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Satisfy&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.font-satis{
    font-family: "Satisfy", cursive;
}
.font-work{
    font-family: "Work Sans", sans-serif;
}
.font-play{
    font-family: "Playfair Display", serif;
}
img{
    width: 100%;
}
.section-title span svg{
    fill: #63AB45;
}